.editor{
  background-color: lightcyan;
  &__text_areas{
    display: flex;
    background-color: lightseagreen;
    justify-content:flex-start;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    min-height:100%;
    width: 100%;
    &--input{
      flex: 1;
      background-color: lightgreen;
    }
    &--output{
      flex: 1;
      background-color: lightblue;
    }
  }
}