.menu {
  display: flex;
  flex-direction: row;

  input {
    width: 20rem;
    padding: 12px 20px;
    margin: .2rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  &__btn_group {
    margin-left: auto;
    &__container {
      display: flex;
      &__button {
        -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
        -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
        box-shadow: inset 0px 1px 3px 0px #91b8b3;
        background-color: #768d87;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #566963;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        padding: .4rem .8rem;
        text-decoration: none;
        text-shadow: 0px -1px 0px #2b665e;
        margin-right: 1rem;
        &:hover {
          background-color: #6c7c7c;
        }
        &:active {
          position: relative;
          top: 1px;
        }
      }

      a > img {
        width: 2rem;
      }
    }

  }

  &__checkbox_group {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-left: 1rem;
    & > :not(label) {
      margin-left: 0.5rem;
    }
    flex: 1 1 auto;
    input {
      width: 1.5rem;
      height: 3rem;
    }
    label {
      line-height: 3rem;
    }

  }
}