:root{
  box-sizing: border-box;
  font-size: .875em;
  font-family: 'Source Code Pro';
  cursor: default;
}

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// html{
//   // 10 px / 16 px  ( 16 px is the browser default) = 62.5
//   // font-size: 87.5%; 
  
// }

body {
  // margin: 0;
  // padding: 0;
  // font-family: sans-serif;
  box-sizing: inherit;
}

#root{
  width: 100vw;
  height: 100vh;
}