:root{
  box-sizing: border-box;
  cursor: default;
  color: #333;
}

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
  font-size: .875em;
  font-family: 'Source Code Pro', monospace, sans-serif;
  font-weight: 400;
  box-sizing: inherit;
}

#root{
  width: 100vw;
  height: 100vh;
}